<form [formGroup]="formCliente" (ngSubmit)="gravar()">
  <div class="col-xs-12 col-md-8 offset-md-2">
    <div class="card">
      <div class="card-body border border-primary rounded shadow-lg">
        <h3 class="card-title">Cadastro de Clientes</h3>
        <small class="text-muted">
          Desde: {{ cliente.dataCadastro | date: 'dd/MM/yyyy - HH:mm' }} - Última atualização: {{ cliente.dataUltimaAtualizacao | date: 'dd/MM/yyyy - HH:mm' }}
        </small>
        <hr>
        <div class="row">
          <div class="form-group col-12 col-md-12">
            <label for="txt_nome" class="control-label">* Nome</label>
            <input type="text" name="txt_nome" id="txt_nome" formControlName="nome" class="form-control"
                   placeholder="Digite o nome" [ngClass]="{ 'is-invalid': submitted && form.nome.invalid }"/>
            <small *ngIf="submitted && form.nome.invalid" class="text-danger">
              <div *ngIf="form.nome.errors.required">Nome é um campo obrigatório</div>
            </small>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-md-6">
            <label for="txt_cpf" class="control-label">* CPF</label>
            <input type="text" name="txt_cpf" id="txt_cpf" formControlName="cpf" class="form-control"
                   placeholder="Digite o CPF" [ngClass]="{ 'is-invalid': submitted && form.cpf.invalid }" mask="000.000.000-00"/>
            <small *ngIf="submitted && form.cpf.invalid" class="text-danger">
              <div *ngIf="form.cpf.errors.required">CPF é um campo obrigatório</div>
            </small>
          </div>
          <div class="form-group col-12 col-md-6">
            <label for="txt_data_nascimento" class="control-label">Data de Nascimento</label>
            <div class="input-group">
              <input type="text" class="form-control" bsDatepicker name="txt_data_nascimento" id="txt_data_nascimento" #dataNascimento="bsDatepicker" value="{{ cliente.dataNascimento | date: 'dd/MM/yyyy' }}"
                     [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" formControlName="dataNascimento" [ngClass]="{ 'is-invalid': submitted && form.dataNascimento.invalid }" placeholder="99/99/9999">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary fas fa-calendar" (click)="dataNascimento.toggle()" type="button"></button>
              </div>
            </div>
            <small *ngIf="submitted && form.cpf.invalid" class="text-danger">
              <div *ngIf="form.dataNascimento.errors.required">Data de nascimento é um campo obrigatório</div>
              <div *ngIf="!form.dataNascimento.errors.required">Campo com data inválida</div>
            </small>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-md-6">
            <label for="txt_telefone" class="control-label">Telefone</label>
            <input type="text" name="txt_telefone" id="txt_telefone" formControlName="telefone"
                   class="form-control" placeholder="Telefone residencial"/>
          </div>
          <div class="form-group col-12 col-md-6">
            <label for="txt_celular" class="control-label">Celular</label>
            <div class="input-group">
              <input type="text" name="txt_celular" id="txt_celular" formControlName="celular"
                     class="form-control" placeholder="Telefone celular"/>
              <span class="input-group-append">
                <span class="fab fa-whatsapp fa-lg input-group-text">
                  &nbsp;<input type="checkbox" name="chk_whatsapp" id="chk_whatsapp" formControlName="whatsapp"/>
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-md-6">
            <label for="txt_email" class="control-label">E-mail</label>
            <input type="text" name="txt_email" id="txt_email" formControlName="email" class="form-control"
                   placeholder="E-mail para contato" [ngClass]="{ 'is-invalid': submitted && form.email.invalid }"/>
            <small *ngIf="submitted && form.email.invalid" class="text-danger">
              <div>Campo com e-mail inválido</div>
            </small>
          </div>
          <div class="form-group col-12 col-md-6">
            <label for="txt_profissao" class="control-label">Profissão</label>
            <input type="text" name="txt_profissao" id="txt_profissao" formControlName="profissao" class="form-control"
                   placeholder="Profissão" [ngClass]="{ 'is-invalid': form.profissao.invalid }"/>
          </div>
        </div>
        <div class="form-group col-12 col-md-12" style="text-align: center; margin-top: 25px;">
          <button type="submit" class="btn btn-primary" [disabled]="submitted && !formCliente.valid"><span class="fas fa-save"></span> Gravar</button>
        </div>
      </div>
    </div>
  </div>
</form>
